/* stili generali */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgba(211, 211, 211, 0.47);
}

.azzurro{
    background-color: lightskyblue;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}


/* stili header */

header{
    background-color: white;
    padding: 5px 20px;
}

#immagine{
    vertical-align: middle;
}

header #logo{
    display: inline-block;
    font-size: 40px;
    font-weight: bolder;
}

/* main */

main{
    width: 70%;
    margin: 20px auto;
}

/* prima sezione main */

#aggiungi-tasks{
    padding: 10px 50px ;
    background-color: white;
    border-radius:5px 5px 0px 0px ;
}

.sezione2{
    padding: 20px 50px;
    background-color:white ;
    border-radius:0px 0px 5px 5px;
    margin-top: 5px ;
}

#aggiungi-tasks button{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.277);
    
}

#bottone-tasks{
    background-color: lightskyblue;
    color: white;
}

#bottone-section{
    color: rgba(0, 0, 0, 0.327);
}


/* seconda sezione main */

.sezione2 button{
    padding: 5px 8px;
    border-radius: 25px;
    border: none ;
    margin-left: 5px;
    color: white;
    font-size: 10px;
}

.material-symbols-outlined{
    vertical-align: middle;
}

.parte-due{
    margin: 20px 0px;
}

.parte-due, div{
    margin: 10px 0px;
}

.parte-tre div{
    margin: 10px 0px;
}

/* verificato o no */

.falso span{
    color: red;
}

.giusto span{
    color: green;
}

/* colori bottoni */

#viola{
    background-color: blueviolet;
}

#verde{
    background-color: green;
}

#arancione{
    background-color: orange;
}

#rosa{
    background-color: plum;
}

#oro{
    background-color: goldenrod;
}