/* stili generali */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgba(211, 211, 211, 0.47);
}

main section{
    background-color: white;
    padding: 20px 50px;
    border-radius: 5px;
}

.azzurro{
    background-color: lightskyblue;
}

.vero{
    color: green;
}

/* stili header */

header{
    background-color: white;
    padding: 5px 20px;
}

#immagine{
    vertical-align: middle;
}

header #logo{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
}

/* main */

main{
    width: 70%;
    margin: 20px auto;
}

.sezione2{
    margin: 10px 0px;
}

#aggiungi-tasks button{
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.277);
    
}

#bottone-tasks{
    background-color: lightskyblue;
    color: white;
}

#bottone-section{
    color: rgba(0, 0, 0, 0.327);
}

.sezione2 button{
    padding: 5px;
    border-radius: 25px;
    border: 1px ;
    margin-left: 5px;
    color: white;
    font-size: 10px;
}
